.puzzle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px; /* Adds spacing between tiles */
  width: 600px; /* Set a fixed width for the grid */
  height: 600px; /* Set a fixed height for the grid */
  background-color: yellow; /* Set the background to yellow */
  border: 5px solid yellow; /* Add a yellow border */
  padding: 20px; /* Add padding inside the border to keep space between the tiles */
  border-radius: 4%;
}

.tile {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Keeps the tile square */
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tile.empty {
  background-color: #fff; /* Empty tile style */
  cursor: default;
}

.tile.can-move {
  border: 2px solid #00f; /* Highlight movable tiles */
}

.win-message {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: green;
}
